@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background: #222;
}

.container {
  margin: 2em auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width:1100px;
  flex-wrap: wrap;  
}

.card{
  display: flex;
  width: 45%;
  margin: 1.5em 1.5em;
  background: #fff;
  position: relative;
  height:250px;
  overflow: hidden;
}


.container .card .imgbg{
  position: absolute;
  left: 50%;
  top: 50%;
  width:200%;
  height:300%;
  background: #333;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s ease;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}


.container .card .imgbg img {
  width:13%;
  transition: inherit;
}
.container .card:hover .imgbg img {
  width:35%
}
.container .card:hover .imgbg{
  top: 50%;
  left:23%;
  height: 150px;
  width: 150px;
  background:#ff0057;
  border-radius: 50%;
  box-shadow: 5px 20px 30px #ff005742;

}

.container .card:hover .imgbg img{
}

.container .card .imgbg::before{
  content: attr(data-text);
  font-size: 6em;
  color: rgba(255, 255, 255, 0.05);
  position: absolute;
  left: 0;
  bottom: 250px;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.content{
  transform: translate(-50%,-50%);
  position: absolute;
  left: 10%;
  top:50%;
  opacity:0;
  transition: left 0.6s ease, opacity 1s ease;
  width:255px;
  pointer-events: none;
}

.card:hover .content{
  left:72%;
  opacity: 1;
  pointer-events: all;
}

.content h3 {
  font-size: 24px;
}


.content p {
  margin: 0.75em 0
}

.content *::selection{
  color:#fff;
  background: #ff0057;
}

.content a {
  text-decoration: none;
  display: inline-block;
  padding:0.5em 1em;
  color:#fff;
  background: #333;
  border-radius: 2em;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
